<!<%- include('./partials/nav') %>
    <title>category</title>
<body>
    <ul>
    <% menuItems.forEach(function(item) { %>
      <li>name: <%= item.name %> </li> 
      <li>price: <%= item.price %> </li>
        <li>rating: <%= item.rating %></li> 
        <li>details: <%= item.details %></li> 
      </li>
    <% }) %>
  </ul>
</body>
</html>