<%- include('./partials/nav') %>
  <title><%=title %></title>
</head>
<body>
  <h1>Home Page</h1>
<h1><%= RESTAURANT.name %></h1>
  <h2>Address: <%= RESTAURANT.address %></h2>
  <h2> Phone:<%= RESTAURANT.phone %></h2>
 
</body>
</html>
